<nav>
    <a routerLink="/all">
      <img src="../assets/02.png" class="icon" />
    </a>
    <a routerLink="/Movie">
      <img src="../assets/03.png" class="icon" />
    </a>
    <a routerLink="/Series">
      <img src="../assets/04.png" class="icon" />
    </a>
  </nav>
<section class="header">
    <header>
        <h1 class="title">Media Watch List</h1>
        <p class="description">Keep track of media i want to watch</p>
    </header>
        <media-item-form></media-item-form>
<router-outlet></router-outlet>
</section>